USE [master]
GO
/****** Object:  Database [ShopTraiCay]    Script Date: 3/7/2024 2:36:29 PM ******/
CREATE DATABASE [ShopTraiCay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopTraiCay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopTraiCay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopTraiCay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShopTraiCay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopTraiCay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopTraiCay]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](100) NOT NULL,
	[pass] [varchar](1000) NOT NULL,
	[fullname] [nvarchar](1000) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[isAdmin] [int] NOT NULL,
	[isCus] [int] NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[username] [varchar](100) NULL,
	[pId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[total_quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catelogy]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catelogy](
	[cId] [int] NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[username] [varchar](100) NOT NULL,
	[message] [varchar](300) NOT NULL,
	[img] [varchar](1000) NULL,
	[response] [varchar](300) NULL,
	[date_message] [datetime] NOT NULL,
	[date_response] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[order_date] [date] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[total_quantity] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[startus] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[pay] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[pId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[amount] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [float] NOT NULL,
	[img] [varchar](1000) NOT NULL,
	[des] [nvarchar](1000) NOT NULL,
	[cId] [int] NOT NULL,
	[status] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionVnpay]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionVnpay](
	[code] [varchar](50) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[order_id] [int] NOT NULL,
	[bank_name] [varchar](30) NULL,
	[account_number] [varchar](30) NULL,
	[transaction_date] [datetime] NULL,
	[total_amount] [float] NULL,
	[order_info] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [pass], [fullname], [email], [isAdmin], [isCus], [phone], [address]) VALUES (N'baochau', N'202cb962ac59075b964b07152d234b70', N'Bao Chau', N'chauttbce171935@fpt.edu.vn', 0, 1, N'0367123321', N'Can Tho')
INSERT [dbo].[Account] ([username], [pass], [fullname], [email], [isAdmin], [isCus], [phone], [address]) VALUES (N'group1', N'202cb962ac59075b964b07152d234b70', N'Group One', N'group01se1709@gmail.com', 1, 0, N'0912345678', N'113 NVC, An Khanh, Ninh Kieu, Can Tho')
INSERT [dbo].[Account] ([username], [pass], [fullname], [email], [isAdmin], [isCus], [phone], [address]) VALUES (N'minhngoc', N'202cb962ac59075b964b07152d234b70', N'Minh Ngoc', N'ngocttmce171749@fpt.edu.vn', 0, 1, N'0901234567', N'Can Tho')
GO
INSERT [dbo].[Cart] ([username], [pId], [quantity], [total_quantity]) VALUES (N'thanhthu', 22, 2, 110000)
INSERT [dbo].[Cart] ([username], [pId], [quantity], [total_quantity]) VALUES (N'thanhthu', 23, 1, 12000)
INSERT [dbo].[Cart] ([username], [pId], [quantity], [total_quantity]) VALUES (N'thanhthu', 25, 2, 90000)
GO
INSERT [dbo].[Catelogy] ([cId], [cName]) VALUES (1, N'Strawberry')
INSERT [dbo].[Catelogy] ([cId], [cName]) VALUES (2, N'Berry')
INSERT [dbo].[Catelogy] ([cId], [cName]) VALUES (3, N'Lemon')
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([username], [message], [img], [response], [date_message], [date_response], [id]) VALUES (N'thaine', N'Dich vu rat tot', N'', N'tot', CAST(N'2024-03-06T16:16:45.000' AS DateTime), CAST(N'2022-02-02T00:00:00.000' AS DateTime), 22)
INSERT [dbo].[Feedback] ([username], [message], [img], [response], [date_message], [date_response], [id]) VALUES (N'thaidq', N'moi thu deu rat okla', N'', N'thank you', CAST(N'2024-03-06T16:18:45.000' AS DateTime), CAST(N'2024-03-06T18:02:17.000' AS DateTime), 23)
INSERT [dbo].[Feedback] ([username], [message], [img], [response], [date_message], [date_response], [id]) VALUES (N'thaidq', N'lan sau toi se mua tiep', N'', N'thank you so much', CAST(N'2024-03-06T16:19:04.000' AS DateTime), CAST(N'2024-03-06T18:02:39.000' AS DateTime), 24)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [username], [order_date], [total_amount], [total_quantity], [name], [address], [phone], [startus], [note], [pay]) VALUES (1, N'thaidq', CAST(N'2024-03-01' AS Date), CAST(243000.00 AS Decimal(10, 2)), 6, N'thai', N'CT', N'0000000000', 1, N'', 0)
INSERT [dbo].[Order] ([order_id], [username], [order_date], [total_amount], [total_quantity], [name], [address], [phone], [startus], [note], [pay]) VALUES (2, N'thaidq', CAST(N'2024-03-01' AS Date), CAST(243000.00 AS Decimal(10, 2)), 6, N'thai', N'CT', N'0000000000', 0, N'', 0)
INSERT [dbo].[Order] ([order_id], [username], [order_date], [total_amount], [total_quantity], [name], [address], [phone], [startus], [note], [pay]) VALUES (3, N'thaidq', CAST(N'2024-03-01' AS Date), CAST(57023.00 AS Decimal(10, 2)), 3, N'thai', N'CT', N'0000000000', 2, N'', 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [pId], [quantity], [amount]) VALUES (1, 1, 12, 3, 135000)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [pId], [quantity], [amount]) VALUES (2, 1, 11, 2, 28000)
INSERT [dbo].[OrderItem] ([order_item_id], [order_id], [pId], [quantity], [amount]) VALUES (3, 1, 10, 1, 80000)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([pId], [name], [price], [img], [des], [cId], [status], [quantity]) VALUES (1, N'thanh thu', 123, N'assets/img/products/hero-bg-3.jpg', N'Huhu', 1, 0, -4)
INSERT [dbo].[Product] ([pId], [name], [price], [img], [des], [cId], [status], [quantity]) VALUES (2, N'Berry', 70, N'assets/img/products/product-img-2_2.jpg', N'Grapes are small, sweet, and juicy fruits with a crisp skin and succulent pulp. They come in various colors, offering a delightful blend of flavors. Grapes are versatile, perfect for snacking, winemaking, and culinary uses. They''re not only delicious but also nutritious, rich in vitamins and antioxidants.', 2, 0, 15)
INSERT [dbo].[Product] ([pId], [name], [price], [img], [des], [cId], [status], [quantity]) VALUES (3, N'Lemon', 35, N'assets/img/products/product-img-3.jpg', N'Lemons are small, yellow citrus fruits known for their tart, refreshing taste and versatility in cooking and beverages. They''re a rich source of vitamin C and add brightness to many dishes.', 3, 0, 10)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cId])
REFERENCES [dbo].[Catelogy] ([cId])
GO
ALTER TABLE [dbo].[TransactionVnpay]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[TransactionVnpay]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 3/7/2024 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckLogin]
@username varchar(10),
@password varchar(32)
AS
SELECT username
FROM Account
WHERE username = @username AND pass = @password;
GO
USE [master]
GO
